<!-- Images (and assets) are parsed and loaded from within the public directory -->
<main>
  <div class="atabixInstall--Container">
      <h1 class="atabixInstall--Header">Atabix Angular
        <span class="tiny">(Atangular)</span>
      </h1>
      <nav>
        <ul class="atabixInstall--menu">
          <li class="atabixInstall--menuItem"><a href="http://www.atabix.com" target="_blank">Home</a></li>
          <li class="atabixInstall--menuItem"><a href="https://www.facebook.com/atabixsolutions/" target="_blank">Facebook</a></li>
          <li class="atabixInstall--menuItem"><a href="https://twitter.com/atabix/" target="_blank">Twitter</a></li>
          <li class="atabixInstall--menuItem"><a href="https://github.com/atabix" target="_blank">Github</a></li>
        </ul>
      </nav>
      <a class='button' routerLink="/login">Login</a>
  </div>
  <router-outlet></router-outlet>
</main>
<footer>

</footer>
